src/main/java/com/mnt/bean/students/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mnt.com/bean/students" xmlns:tns="http://mnt.com/bean/students" elementFormDefault="qualified">
<xs:element name="student" type="tns:students">

</xs:element>
<xs:complexType name="students">
<xs:sequence>
<xs:element name="name" type="xs:string"></xs:element>
<xs:element name="password" type="xs:string"></xs:element>
<xs:element name="userId" type="xs:string"></xs:element>
<xs:element name="passId" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>